
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ServerErrorView</title>
</head>
<body>
    <div> 
        <p>500 Internal Server Error. Please try again or contact the site admin!</p>
    </div>
</body>
</html>
