
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ServerError</title>
</head>
<body>
    <div> 
        <br /><br /><p>500 Internal Server Error. Please try again or contact the site admin!</p>
    </div>
</body>
</html>
